/* div {
    border:2px solid black;
    border-radius:

} */

.button {
    border:2px solid black;
    width:5rem;
    padding:5px;
    border-radius:1rem;
    background-color: black;
    color:rgba(255, 255, 255, 0.872);

}

.button:hover {
    background-color: white;
    color:#2782dca5;
    cursor:pointer;
}

div p{
text-align:justify;
line-height:2rem;
text-decoration:overline;
text-decoration-color:green;
text-transform: capitalize;
word-spacing:1.2rem;
font-family: 'Courier New', Courier, monospace;
font-weight:600;
font-style: italic;

}