
/* Child Selector  */
/* div p span {
    color:aqua;
} */


/* Immediate sibling  */
/* ul>li {
    color:red;

} */



/* li+li {
    color:blue;
} */

/* general sibling  */


/* li#select~li {
    color:purple;
} */

/* ========Pseudo Class==============  */
/* nav {
    background-color: rgb(32, 29, 29);
    padding:20px;

}
nav a {
    margin-left:20px;
}
nav a:link {
    color:white;
    text-decoration: none;
}
nav a:visited {
    color:rgb(28, 138, 14);
}

nav a:active {
    color:red;
    background-color: yellow;
}
nav a:hover {
    color:purple;
    text-decoration: underline;
}


/* ===========Pseudo element=======  */
ul li::before {
    content:"\1F4DE"
}

ul li::after {
    content:"\1F4DE"
}

.div p::first-letter {
    font-size:40px;
} */



