*{
margin:0;
padding:0;
box-sizing:border-box;


}

#whole_section{
    border:3px inset rgba(247, 13, 13, 0.566);
    border-radius: 20px;
    padding:20px 20px 20px 20px;
    box-shadow:0 0 30px rgba(247, 13, 13, 0.566)
    }



.container{

    background-image: url('mk-s-w_3Czj2Gt_A-unsplash.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border:10px solid;

}

.little_container {
     max-width:900px;
     margin:0 auto;
     

}

    

.first_section h1{
    text-align:center;
    padding-top: 50px;
    font-size:50px;
    text-shadow: 2px 2px 8px #FF0000;
    
    
}
.first_section h2{
    text-align:center;
    padding-top: 20px;
    text-shadow: 2px 2px 8px #FF0000;
    
}
.tomhanks,img {
    width:250px;
    height: 300px;
    border-radius:15px 50px;    
    border:4px solid #784924;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:13px;
    box-shadow: 0 0 50px 10px #EBA15D;
    transition: transform 0.4s;  /*Animation*/
    
    }
.tomhanks:hover {
    transform: scale(1.2);
}

.about_section h2{
    font-size: 35px;
    font-style:italic;
    text-decoration:;
    margin-top:20px;
    margin-bottom:10px;
    color:#2C2C2B;
    border-bottom: 1.5px solid;

}

.about_section p{
    font-size:20px;
    font-display;
    line-height: 1.5;
    font-weight:500;
    letter-spacing:1.2px;
    text-align:justify;
    text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.678);
}

.awards_section h2{
    font-size: 35px;
    font-style:italic;
    text-decoration:;
    margin-top:20px;
    margin-bottom:10px;
    color:#2C2C2B;
    border-bottom: 1.5px solid;
}

.awards_section p{
    font-size:20px;
    line-height: 1.5;
    font-weight:500;
    letter-spacing:1.2px;
    text-align:justify;
    text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.678);
}
.awards_section h3{
    font-size: 35px;
    
    margin-top:20px;
    margin-bottom:10px;
    
}

.awards_section h4{

    font-size:30px;
    margin-top:20px;
    margin-bottom:10px;
}

.awards_section li {
    line-height: 1.5;
    text-align:justify;
    font-size: 20px;
    text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.678);

}
.legacy_section h3 {
    font-size: 35px;
    font-style:italic;
    text-decoration:;
    margin-top:20px;
    margin-bottom:10px;
    color:#2C2C2B;
    border-bottom: 1.5px solid;

}
.legacy_section p{
    font-size:20px;
    line-height: 1.5;
    font-weight:500;
    letter-spacing:1.2px;
    text-align:justify;
    text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.678);
}

.more_section p{
    text-align:end;
    font-size:25px;
    font-style:italic;
}


a:link {
    color: rgba(206, 196, 222, 0.671);
  }
  
  
  a:visited {
    color: green;
  }
  
  
  a:hover {
    color: rgb(87, 236, 226);
  }
  
  
  a:active {
    color: blue;
  }

footer{
    line-height: 5;
    text-shadow: 2px 2px 8px black;
}
